/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Open+Sans&family=Quicksand:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }
  .column,
  .columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }
  
  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0; }
  }
  
  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .container {
      width: 80%; }
    .column,
    .columns {
      margin-left: 4%; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }
  
    .one.column,
    .one.columns                    { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }
  
    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }
  
    .one-half.column                { width: 48%; }
  
    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }
  
    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }
  
    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }
  
  }
  
  
  /* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* NOTE
  html is set to 62.5% so that all the REM measurements throughout Skeleton
  are based on 10px sizing. So basically 1.5rem = 15px :) */
  html {
    font-size: 62.5%; }
  body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222; }
  
  
  /* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300; }
  h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
  h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
  h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
  h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
  h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
  h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
  
  /* Larger than phablet */
  @media (min-width: 550px) {
    h1 { font-size: 5.0rem; }
    h2 { font-size: 4.2rem; }
    h3 { font-size: 3.6rem; }
    h4 { font-size: 3.0rem; }
    h5 { font-size: 2.4rem; }
    h6 { font-size: 1.5rem; }
  }
  
  p {
    margin-top: 0; }
  
  
  /* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  a {
    color: #2285a3; }
  a:hover {
    color: #19677e; }
  
  
  /* Buttons
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

  
  /* Forms
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box; }
  /* Removes awkward default styles on some inputs for iOS */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #33C3F0;
    outline: 0; }
  label,
  legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600; }
  fieldset {
    padding: 0;
    border-width: 0; }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline; }
  label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal; }
  
  
  /* Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  ul {
    list-style: circle inside; }
  ol {
    list-style: decimal inside; }
  ol, ul {
    padding-left: 0;
    margin-top: 0; }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }
  li {
    margin-bottom: 1rem; }
  
  
  /* Code
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px; }
  pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre; }
  
  
  /* Tables
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }
  
  
  /* Spacing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  button,
  .button {
    margin-bottom: 1rem; }
  input,
  textarea,
  select,
  fieldset {
    margin-bottom: 1.5rem; }
  pre,
  blockquote,
  dl,
  figure,
  table,
  p,
  ul,
  ol,
  form {
    margin-bottom: 2.5rem; }
  
  
  /* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .u-full-width {
    width: 100%;
    box-sizing: border-box; }
  .u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
  .u-pull-right {
    float: right; }
  .u-pull-left {
    float: left; }
  
  
  /* Misc
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  hr {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-width: 0;
    border-top: 1px solid #c2c0c0; }
  
  
  /* Clearing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  /* Self Clearing Goodness */
  .container:after,
  .row:after,
  .u-cf {
    content: "";
    display: table;
    clear: both; }
  
  
  /* Media Queries
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /*
  Note: The best way to structure the use of media queries is to create the queries
  near the relevant code. For example, if you wanted to change the styles for buttons
  on small devices, paste the mobile query code up in the buttons section and style it
  there.
  */
  
  
  /* Larger than mobile */
  @media (min-width: 400px) {}
  
  /* Larger than phablet (also point when grid becomes active) */
  @media (min-width: 550px) {}
  
  /* Larger than tablet */
  @media (min-width: 750px) {}
  
  /* Larger than desktop */
  @media (min-width: 1000px) {}
  
  /* Larger than Desktop HD */
  @media (min-width: 1200px) {}

/* Components
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
:root{
    --border-radius: 10px;
    --border-circle-radius: 120px;
    --z-index: 0;
    
    /* Colors Section for Background Start (MDBootstrap Colors)
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

    --default-color: transparent;
    --primary-color: #3B71CA;
    --secondary-color: #9FA6B2;
    --success-color: #14A44D;
    --danger-color: #DC4C64;
    --warning-color: #E4A11B;
    --info-color: #54B4D3;
    --light-color: #FBFBFB;
    --dark-color: #322D2D;

    /* Colors Section End */

    --surface-color: #fff;
    --curve: 40;

    /* Padding Section Starting
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

    --default-padding-setting: 10px 10px 10px 10px;
    --right-padding-setting: 6px;
    --left-padding-setting: 6px;
    --top-padding-setting: 3px;
    --bottom-padding-setting: 3px;

    /* Padding Section End */

    /* Margin Section Starting
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

    --default-margin-setting: 10px 10px 10px 10px;
    --bottom-margin-setting: 10px;
    --top-margin-setting: 10px;
    --left-margin-setting: 3px;
    --right-margin-setting: 3px;

    /* Margin Section End */

    /* Default Color Palets for Texting (Alerts, Buttons, and more) Starting (Colors from MDBootstrap)
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    --default-text-color: #FFFFFF;
    --primary-text-color: #2c58a0;
    --secondary-text-color: #40464f;
    --success-text-color: #0d6832;
    --danger-text-color: #af233a;
    --warning-text-color: #685838;
    --info-text-color: #1c657d;
    --light-text-color: #4f4f4f;
    --dark-text-color: #f5f5f5;

    --alert-info-color: #def1f7;
    --alert-primary-color: #dfe7f6;
    --alert-secondary-color: #ebedef;
    --alert-warning-color: #fbf0da;
    --alert-danger-color: #f9e1e5;
    --alert-success-color: #d6f0e0;
    --alert-dark-color: #332e2e;
    --alert-light-color: #f5f5f5;
    /* Default Color Palets End */
    --alert-padding-settings: 20px 20px 20px 20px
}


/* Margins */
.mt-1{margin-top: 10px}
.mt-2{margin-top: 20px}
.mt-3{margin-top: 30px}
.mt-4{margin-top: 40px}
.mt-5{margin-top: 50px}

/* Alerts Starting
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.alert{
    font-size: medium;
    position: relative;
    padding: var(--alert-padding-settings);
    margin-bottom: 10px;
    color: white;
    background-color: var(--default-color);
    border-radius: var(--border-radius);
}

.alert > a{
    font: bolder;
}


.alert-header{
    font-weight: bold;
}

.alert-link{
    font-weight: bold;
}

.alert-dissmiss{
    padding-right: var(--right-padding-setting);
}
.alert-dissmiss .btn-cls{
    position: absolute;
    top: 0;
    right: 0;
    z-index: var(--z-index);
}

/* Alert Colors */

.alert-info{
    background-color: var(--alert-info-color);
    color: var(--info-text-color);
}
.alert-primary{
    background-color: var(--alert-primary-color);
    color: var(--primary-text-color);
}
.alert-success{
    background-color: var(--alert-success-color);
    color: var(--success-text-color);
}
.alert-danger{
    background-color: var(--alert-danger-color);
    color: var(--danger-text-color);
}
.alert-warning{
    background-color: var(--alert-warning-color);
    color: var(--warning-text-color);
}
.alert-dark{
    background-color: var(--alert-dark-color);
    color: var(--light-color);
}
.alert-light{
    background-color: var(--alert-light-color);
    color: var(--dark-color);
}
.alert-secondary{
    background-color: var(--alert-secondary-color);
    color: var(--secondary-text-color);
}

/* Alerts End */

/* Badges Start */
.badge{
    width: max-content;
    padding: var(--default-padding-setting);
    padding-left: var(--left-padding-setting);
    padding-right: var(--right-padding-setting);
    font-weight: bold;
    border-radius: var(--border-radius);
}
.badge-info{
    background-color: var(--alert-info-color);
    color: var(--info-text-color);
}
.badge-primary{
    background-color: var(--alert-primary-color);
    color: var(--primary-text-color);
}
.badge-success{
    background-color: var(--alert-success-color);
    color: var(--success-text-color);
}
.badge-danger{
    background-color: var(--alert-danger-color);
    color: var(--danger-text-color);
}
.badge-warning{
    background-color: var(--alert-warning-color);
    color: var(--warning-text-color);
}
.badge-dark{
    background-color: var(--alert-dark-color);
    color: var(--light-color);
}
.badge-light{
    background-color: var(--alert-light-color);
    color: var(--dark-color);
}
.badge-secondary{
    background-color: var(--alert-secondary-color);
    color: var(--dark-color);
}
/* Badges End */

/* Buttons Start */

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    transition: 0.2s;
    color: var(--primary-text-color);
    background-color: var(--alert-primary-color);
    border-color: var(--alert-primary-color); }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: var(--dark-text-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color) }

.button.button-secondary,
button.button-secondary,
input[type="submit"].button-secondary,
input[type="reset"].button-secondary,
input[type="button"].button-secondary {
    transition: 0.2s;
    color: var(--secondary-text-color);
    background-color: var(--alert-secondary-color);
    border-color: var(--alert-secondary-color); }

.button.button-secondary:hover,
button.button-secondary:hover,
input[type="submit"].button-secondary:hover,
input[type="reset"].button-secondary:hover,
input[type="button"].button-secondary:hover,
.button.button-secondary:focus,
button.button-secondary:focus,
input[type="submit"].button-secondary:focus,
input[type="reset"].button-secondary:focus,
input[type="button"].button-secondary:focus {
    color: var(--dark-text-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color) }

.button.button-success,
button.button-success,
input[type="submit"].button-success,
input[type="reset"].button-success,
input[type="button"].button-success {
    transition: 0.2s;
    color: var(--success-text-color);
    background-color: var(--alert-success-color);
    border-color: var(--alert-success-color); }

.button.button-success:hover,
button.button-success:hover,
input[type="submit"].button-success:hover,
input[type="reset"].button-success:hover,
input[type="button"].button-success:hover,
.button.button-success:focus,
button.button-success:focus,
input[type="submit"].button-success:focus,
input[type="reset"].button-success:focus,
input[type="button"].button-success:focus {
    color: var(--dark-text-color);
    background-color: var(--success-color);
    border-color: var(--success-color) }

.button.button-danger,
button.button-danger,
input[type="submit"].button-danger,
input[type="reset"].button-danger,
input[type="button"].button-danger {
    transition: 0.2s;
    color: var(--danger-text-color);
    background-color: var(--alert-danger-color);
    border-color: var(--alert-danger-color); }

.button.button-danger:hover,
button.button-danger:hover,
input[type="submit"].button-danger:hover,
input[type="reset"].button-danger:hover,
input[type="button"].button-danger:hover,
.button.button-danger:focus,
button.button-danger:focus,
input[type="submit"].button-danger:focus,
input[type="reset"].button-danger:focus,
input[type="button"].button-danger:focus {
    color: var(--dark-text-color);
    background-color: var(--danger-color);
    border-color: var(--danger-color) }

.button.button-warning,
button.button-warning,
input[type="submit"].button-warning,
input[type="reset"].button-warning,
input[type="button"].button-warning {
    transition: 0.2s;
    color: var(--warning-text-color);
    background-color: var(--alert-warning-color);
    border-color: var(--alert-warning-color); }

.button.button-warning:hover,
button.button-warning:hover,
input[type="submit"].button-warning:hover,
input[type="reset"].button-warning:hover,
input[type="button"].button-warning:hover,
.button.button-warning:focus,
button.button-warning:focus,
input[type="submit"].button-warning:focus,
input[type="reset"].button-warning:focus,
input[type="button"].button-warning:focus {
    color: var(--dark-text-color);
    background-color: var(--warning-color);
    border-color: var(--warning-color) }

.button.button-dark,
button.button-dark,
input[type="submit"].button-dark,
input[type="reset"].button-dark,
input[type="button"].button-dark {
    transition: 0.2s;
    color: var(--light-color);
    background-color: var(--alert-dark-color);
    border-color: var(--alert-dark-color); }

.button.button-dark:hover,
button.button-dark:hover,
input[type="submit"].button-dark:hover,
input[type="reset"].button-dark:hover,
input[type="button"].button-dark:hover,
.button.button-dark:focus,
button.button-dark:focus,
input[type="submit"].button-dark:focus,
input[type="reset"].button-dark:focus,
input[type="button"].button-dark:focus {
    color: var(--light-color);
    background-color: var(--dark-color);
    border-color: var(--dark-color) }

.button.button-light,
button.button-light,
input[type="submit"].button-light,
input[type="reset"].button-light,
input[type="button"].button-light {
    transition: 0.2s;
    color: var(--light-text-color);
    background-color: var(--alert-light-color);
    border-color: var(--alert-light-color); }

.button.button-light:hover,
button.button-light:hover,
input[type="submit"].button-light:hover,
input[type="reset"].button-light:hover,
input[type="button"].button-light:hover,
.button.button-light:focus,
button.button-light:focus,
input[type="submit"].button-light:focus,
input[type="reset"].button-light:focus,
input[type="button"].button-light:focus {
    color: var(--light-text-color);
    background-color: var(--light-color);
    border-color: var(--light-color) }

.button.button-info,
button.button-info,
input[type="submit"].button-info,
input[type="reset"].button-info,
input[type="button"].button-info {
    transition: 0.2s;
    color: var(--info-text-color);
    background-color: var(--alert-info-color);
    border-color: var(--alert-info-color); }

.button.button-info:hover,
button.button-info:hover,
input[type="submit"].button-info:hover,
input[type="reset"].button-info:hover,
input[type="button"].button-info:hover,
.button.button-info:focus,
button.button-info:focus,
input[type="submit"].button-info:focus,
input[type="reset"].button-info:focus,
input[type="button"].button-info:focus {
    color: var(--dark-text-color);
    background-color: var(--info-color);
    border-color: var(--info-color) }

/* Button Sizes */

.button.button-small,
button.button-small,
input[type="submit"].button-small,
input[type="reset"].button-small,
input[type="button"].button-small {
    width: max-content;
    text-align: center;
    font-size: 0.85rem;
    border-radius: 0.2rem; }

.button.button-large,
button.button-large,
input[type="submit"].button-large,
input[type="reset"].button-large,
input[type="button"].button-large {
    width: 130px;
    font-size: 1.44rem;
    line-height: 2.5;
    border-radius: 0.3rem; }

/* Button Block */

.button.button-block,
button.button-block,
input[type="submit"].button-block,
input[type="reset"].button-block,
input[type="button"].button-block {
    display: block;
    width: 100%; }

/* Button Outline */

.button.button-outline,
button.button-outline,
input[type="submit"].button-outline,
input[type="reset"].button-outline,
input[type="button"].button-outline {
    color: var(--primary-color);
    background-color: transparent;
    border-color: var(--primary-color); }

.button.button-outline:hover,
button.button-outline:hover,
input[type="submit"].button-outline:hover,
input[type="reset"].button-outline:hover,
input[type="button"].button-outline:hover,
.button.button-outline:focus,
button.button-outline:focus,
input[type="submit"].button-outline:focus,
input[type="reset"].button-outline:focus,
input[type="button"].button-outline:focus {
    color: var(--light-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color); }

.button.button-outline.button-primary,
button.button-outline.button-primary,
input[type="submit"].button-outline.button-primary,
input[type="reset"].button-outline.button-primary,
input[type="button"].button-outline.button-primary {
    color: var(--primary-color);
    background-color: transparent;
    border-color: var(--primary-color); }

.button.button-outline.button-primary:hover,
button.button-outline.button-primary:hover,
input[type="submit"].button-outline.button-primary:hover,
input[type="reset"].button-outline.button-primary:hover,
input[type="button"].button-outline.button-primary:hover,
.button.button-outline.button-primary:focus,
button.button-outline.button-primary:focus,
input[type="submit"].button-outline.button-primary:focus,
input[type="reset"].button-outline.button-primary:focus,
input[type="button"].button-outline.button-primary:focus {
    color: var(--light-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color); }

.button.button-outline.button-secondary,
button.button-outline.button-secondary,
input[type="submit"].button-outline.button-secondary,
input[type="reset"].button-outline.button-secondary,
input[type="button"].button-outline.button-secondary {
    color: var(--secondary-color);
    background-color: transparent;
    border-color: var(--secondary-color); }

.button.button-outline.button-secondary:hover,
button.button-outline.button-secondary:hover,
input[type="submit"].button-outline.button-secondary:hover,
input[type="reset"].button-outline.button-secondary:hover,
input[type="button"].button-outline.button-secondary:hover,
.button.button-outline.button-secondary:focus,
button.button-outline.button-secondary:focus,
input[type="submit"].button-outline.button-secondary:focus,
input[type="reset"].button-outline.button-secondary:focus,
input[type="button"].button-outline.button-secondary:focus {
    color: var(--light-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color); }

.button.button-outline.button-success,
button.button-outline.button-success,
input[type="submit"].button-outline.button-success,
input[type="reset"].button-outline.button-success,
input[type="button"].button-outline.button-success {
    color: var(--success-color);
    background-color: transparent;
    border-color: var(--success-color); }

.button.button-outline.button-success:hover,
button.button-outline.button-success:hover,
input[type="submit"].button-outline.button-success:hover,
input[type="reset"].button-outline.button-success:hover,
input[type="button"].button-outline.button-success:hover,
.button.button-outline.button-success:focus,
button.button-outline.button-success:focus,
input[type="submit"].button-outline.button-success:focus,
input[type="reset"].button-outline.button-success:focus,
input[type="button"].button-outline.button-success:focus {
    color: var(--light-color);
    background-color: var(--success-color);
    border-color: var(--success-color); }

.button.button-outline.button-warning,
button.button-outline.button-warning,
input[type="submit"].button-outline.button-warning,
input[type="reset"].button-outline.button-warning,
input[type="button"].button-outline.button-warning {
    color: var(--warning-color);
    background-color: transparent;
    border-color: var(--warning-color); }

.button.button-outline.button-warning:hover,
button.button-outline.button-warning:hover,
input[type="submit"].button-outline.button-warning:hover,
input[type="reset"].button-outline.button-warning:hover,
input[type="button"].button-outline.button-warning:hover,
.button.button-outline.button-warning:focus,
button.button-outline.button-warning:focus,
input[type="submit"].button-outline.button-warning:focus,
input[type="reset"].button-outline.button-warning:focus,
input[type="button"].button-outline.button-warning:focus {
    color: var(--light-color);
    background-color: var(--warning-color);
    border-color: var(--warning-color); }

.button.button-outline.button-danger,
button.button-outline.button-danger,
input[type="submit"].button-outline.button-danger,
input[type="reset"].button-outline.button-danger,
input[type="button"].button-outline.button-danger {
    color: var(--danger-color);
    background-color: transparent;
    border-color: var(--danger-color); }

.button.button-outline.button-danger:hover,
button.button-outline.button-danger:hover,
input[type="submit"].button-outline.button-danger:hover,
input[type="reset"].button-outline.button-danger:hover,
input[type="button"].button-outline.button-danger:hover,
.button.button-outline.button-danger:focus,
button.button-outline.button-danger:focus,
input[type="submit"].button-outline.button-danger:focus,
input[type="reset"].button-outline.button-danger:focus,
input[type="button"].button-outline.button-danger:focus {
    color: var(--light-color);
    background-color: var(--danger-color);
    border-color: var(--danger-color); }

.button.button-outline.button-info,
button.button-outline.button-info,
input[type="submit"].button-outline.button-info,
input[type="reset"].button-outline.button-info,
input[type="button"].button-outline.button-info {
    color: var(--info-color);
    background-color: transparent;
    border-color: var(--info-color); }

.button.button-outline.button-info:hover,
button.button-outline.button-info:hover,
input[type="submit"].button-outline.button-info:hover,
input[type="reset"].button-outline.button-info:hover,
input[type="button"].button-outline.button-info:hover,
.button.button-outline.button-info:focus,
button.button-outline.button-info:focus,
input[type="submit"].button-outline.button-info:focus,
input[type="reset"].button-outline.button-info:focus,
input[type="button"].button-outline.button-info:focus {
    color: var(--light-color);
    background-color: var(--info-color);
    border-color: var(--info-color); }

.button.button-outline.button-light,
button.button-outline.button-light,
input[type="submit"].button-outline.button-light,
input[type="reset"].button-outline.button-light,
input[type="button"].button-outline.button-light {
    color: var(--light-color);
    background-color: transparent;
    border-color: var(--light-color); }

.button.button-outline.button-light:hover,
button.button-outline.button-light:hover,
input[type="submit"].button-outline.button-light:hover,
input[type="reset"].button-outline.button-light:hover,
input[type="button"].button-outline.button-light:hover,
.button.button-outline.button-light:focus,
button.button-outline.button-light:focus,
input[type="submit"].button-outline.button-light:focus,
input[type="reset"].button-outline.button-light:focus,
input[type="button"].button-outline.button-light:focus {
    color: var(--dark-color);
    background-color: var(--light-color);
    border-color: var(--light-color); }

.button.button-outline.button-dark,
button.button-outline.button-dark,
input[type="submit"].button-outline.button-dark,
input[type="reset"].button-outline.button-dark,
input[type="button"].button-outline.button-dark {
    color: var(--dark-color);
    background-color: transparent;
    border-color: var(--dark-color); }

.button.button-outline.button-dark:hover,
button.button-outline.button-dark:hover,
input[type="submit"].button-outline.button-dark:hover,
input[type="reset"].button-outline.button-dark:hover,
input[type="button"].button-outline.button-dark:hover,
.button.button-outline.button-dark:focus,
button.button-outline.button-dark:focus,
input[type="submit"].button-outline.button-dark:focus,
input[type="reset"].button-outline.button-dark:focus,
input[type="button"].button-outline.button-dark:focus {
    color: var(--light-color);
    background-color: var(--dark-color);
    border-color: var(--dark-color); }

.button.button-outline.button-info,
button.button-outline.button-info,
input[type="submit"].button-outline.button-info,
input[type="reset"].button-outline.button-info,
input[type="button"].button-outline.button-info {
    color: var(--info-color);
    background-color: transparent;
    border-color: var(--info-color); }

.button.button-outline.button-info:hover,
button.button-outline.button-info:hover,
input[type="submit"].button-outline.button-info:hover,
input[type="reset"].button-outline.button-info:hover,
input[type="button"].button-outline.button-info:hover,
.button.button-outline.button-info:focus,
button.button-outline.button-info:focus,
input[type="submit"].button-outline.button-info:focus,
input[type="reset"].button-outline.button-info:focus,
input[type="button"].button-outline.button-info:focus {
    color: var(--light-color);
    background-color: var(--info-color);
    border-color: var(--info-color); }

.button.button-outline.button-light,
button.button-outline.button-light,
input[type="submit"].button-outline.button-light,
input[type="reset"].button-outline.button-light,
input[type="button"].button-outline.button-light {
    color: var(--light-color);
    background-color: transparent;
    border-color: var(--light-color); }

.button.button-outline.button-light:hover,
button.button-outline.button-light:hover,
input[type="submit"].button-outline.button-light:hover,
input[type="reset"].button-outline.button-light:hover,
input[type="button"].button-outline.button-light:hover,
.button.button-outline.button-light:focus,
button.button-outline.button-light:focus,
input[type="submit"].button-outline.button-light:focus,
input[type="reset"].button-outline.button-light:focus,
input[type="button"].button-outline.button-light:focus {
    color: var(--dark-color);
    background-color: var(--light-color);
    border-color: var(--light-color); }

/* Button Hortizontal */



/* Button Group */
.button-group {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%; }

.button-group .button {
    position: relative;
    flex: 1 1 auto;
    border-radius: 0; }

.button-group .button:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius); }

.button-group .button:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius); }

/* Button Group Sizing */
.button-group.button-group-sm {
    font-size: 0.65rem;
    width: max-content; }

.button-group.button-group-sm .button {
    font-size: 0.74rem;
    margin-bottom: 4px;
    padding: 3px 3px 3px 3px; }

.button-group.button-group-lg {
    font-size: 1.25rem; }

.button-group.button-group-lg .button {
    padding: 0.75rem 1.5rem; }

/* Button Group Stacked */
.button-group-stacked {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%; }

.button-group-stacked .button {
    position: relative;
    flex: 1 1 auto;
    border-radius: 0; }

.button-group-stacked .button:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius); }

/* Button Rounded */
.button-rounded {
    border-radius: 1000px; }

/* Button icon */
.button-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border-radius: 1000px;
    font-size: 1.25rem;
    line-height: 1; }

.button-icon .icon {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.25rem; }

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block; }

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 13.2rem;
    padding: var(--default-padding-setting);
    margin-top: 3px;
    font-size: 1rem;
    color: var(--dark-color);
    text-align: center;
    list-style: none;
    background-color: var(--light-color);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: var(--border-radius)}

.dropdown .dropdown-menu .dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: var(--dark-color);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border-bottom: 0.0.8rem solid var(--secondary-color); }

.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:focus {
    color: var(--dark-color);
    text-decoration: none;
    background-color: var(--light-color); }

.dropdown:hover .dropdown-menu {
    display: block; }


/* Floating */

.float-end{
    float: right;
}
.float-start{
    float: left;
}

/* Justify Contents */

.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: right;
}
.justify-content-start{
    justify-content: left;
}

/* Align Items */

.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: right;
}
.align-items-start{
    align-items: left;
}

/* Align Self */

.align-self-center{
    align-self: center;
}
.align-self-end{
    align-self: right;
}
.align-self-start{
    align-self: left;
}

/* Flex */

.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}

/* Grid */

.grid{
    display: grid;
}
.grid-column{
    grid-template-columns: repeat(12, 1fr);
}
.grid-row{
    grid-template-rows: repeat(12, 1fr);
}

/* Text Align */

.text-center{
    text-align: center;
}
.text-end{
    text-align: right;
}
.text-start{
    text-align: left;
}

/* Text Transform */

.text-capitalize{
    text-transform: capitalize;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-uppercase{
    text-transform: uppercase;
}

/* Text Decoration */

.text-decoration-none{
    text-decoration: none;
}
.text-decoration-line-through{
    text-decoration: line-through;
}
.text-decoration-underline{
    text-decoration: underline;
}

/* Text Overflow */

.text-overflow-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.text-overflow-clip{
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

/* Text Wrap */

.text-wrap{
    white-space: normal;
}
.text-nowrap{
    white-space: nowrap;
}

/* Text Truncate */

.text-truncate{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Text Shadow */

.text-shadow{
    text-shadow: 2px 2px 2px black;
}

/* Text Color */

.text-primary{
    color: var(--primary-color);
}
.text-secondary{
    color: var(--secondary-color);
}
.text-success{
    color: var(--success-color);
}
.text-danger{
    color: var(--danger-color);
}
.text-warning{
    color: var(--warning-color);
}
.text-info{
    color: var(--info-color);
}
.text-light{
    color: var(--light-color);
}
.text-dark{
    color: var(--dark-color);
}

/* Text Background Color */

.text-bg-primary{
    background-color: var(--primary-color);
}
.text-bg-secondary{
    background-color: var(--secondary-color);
}
.text-bg-success{
    background-color: var(--success-color);
}
.text-bg-danger{
    background-color: var(--danger-color);
}
.text-bg-warning{
    background-color: var(--warning-color);
}
.text-bg-info{
    background-color: var(--info-color);
}
.text-bg-light{
    background-color: var(--light-color);
}
.text-bg-dark{
    background-color: var(--dark-color);
}

/* Text Border Color */

.text-border-primary{
    border-color: var(--primary-color);
}
.text-border-secondary{
    border-color: var(--secondary-color);
}
.text-border-success{
    border-color: var(--success-color);
}
.text-border-danger{
    border-color: var(--danger-color);
}
.text-border-warning{
    border-color: var(--warning-color);
}
.text-border-info{
    border-color: var(--info-color);
}
.text-border-light{
    border-color: var(--light-color);
}
.text-border-dark{
    border-color: var(--dark-color);
}

/* Text Border Radius */

.text-border-radius{
    border-radius: 25px;
}

/* Text Border Width */

.text-border-width{
    border-width: 2px;
}

/* Text Border Style */

.text-border-style{
    border-style: solid;
}

/* Text Border */

.text-border{
    border: 2px solid black;
}

/* Text Outline */

.text-outline{
    outline: 2px solid black;
}

/* Text Outline Color */

.text-outline-primary{
    outline-color: var(--primary-color);
}

/* Text Outline Offset */

.text-outline-offset{
    outline-offset: 2px;
}

/* Text Outline Style */

.text-outline-style{
    outline-style: solid;
}

/* Text Outline Width */

.text-outline-width{
    outline-width: 2px;
}

/* Text Font Size */

.text-font-size{
    font-size: 20px;
}

/* Text Font Weight */

.text-font-weight{
    font-weight: bold;
}

/* Text Font Style */

.text-font-style{
    font-style: italic;
}

/* Text Font Family */

.text-font-family{
    font-family: 'Roboto', sans-serif;
}

/* Text Line Height */

.text-line-height{
    line-height: 1.5;
}

/* Text Letter Spacing */

.text-letter-spacing{
    letter-spacing: 2px;
}

/* Text Word Spacing */

.text-word-spacing{
    word-spacing: 2px;
}

/* Text Opacity */

.text-opacity{
    opacity: 0.5;
}

/* Text Visibility */

.text-visibility{
    visibility: hidden;
}

/* Text Cursor */

.text-cursor{
    cursor: pointer;
}

/* Text Pointer Events */

.text-pointer-events{
    pointer-events: none;
}

/* Text User Select */

.text-user-select{
    user-select: none;
}

/* Text Resize */

.text-resize{
    resize: both;
}

/* Position */

.position-static{
    position: static;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-fixed{
    position: fixed;
}
.position-sticky{
    position: sticky;
}

/* Navbar */
/* Note: Navbar is Hortizontal Centered by default */
/* Note: Navbar is not responsive */

.navbar{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--light-color);
    text-align: center;
    padding: var(--default-padding-setting);
    display: flex;
    border-top: var(--alert-primary-color) 0.1rem solid;);
    border-bottom: var(--alert-primary-color) 0.1rem solid;);
}
.nav-item{
    transition: 0.2s;
    justify-content: space-between;
    padding: var(--default-padding-setting);
    display: flex;
    border-top: var(--alert-primary-color) 0.1rem solid;);
    border-bottom: var(--alert-primary-color) 0.1rem solid;);
    cursor: pointer;
    border-radius: 5px;
}
.nav-item:hover{
    border-radius: 5px;
    background-color: var(--alert-secondary-color);
    color: var(--secondary-color);
}

@media screen and (max-width: 768px){
    .navbar{
        flex-direction: column;
    }
}

.rounded{
    border-radius: 5px;
}
.rounded-1{
    border-radius: 1px;
}
.rounded-2{
    border-radius: 2px;
}
.rounded-3{
    border-radius: 3px;
}
.rounded-4{
    border-radius: 4px;
}
.rounded-5{
    border-radius: 5px;
}
.rounded-6{
    border-radius: 6px;
}
.rounded-7{
    border-radius: 7px;
}
.rounded-8{
    border-radius: 8px;
}
.rounded-9{
    border-radius: 9px;
}
.rounded-10{
    border-radius: 10px;
}
.small{
    font-size: 1rem;
}

/* Bread Crumb */

.breadcrumbs {
    border: 1px solid #cbd2d9;
    border-radius: 0.3rem;
    display: inline-flex;
    overflow: hidden;
}

.breadcrumbs-item {
    background: #fff;
    color: #333;
    outline: none;
    padding: 0.75em 0.75em 0.75em 1.25em;
    position: relative;
    text-decoration: none;
    transition: background 0.2s linear;
}

.breadcrumbs-item:hover:after,
.breadcrumbs-item:hover {
    background: #edf1f5;
}

.breadcrumbs-item:focus:after,
.breadcrumbs-item:focus,
.breadcrumbs-item.is-active:focus {
    background: #323f4a;
    color: #fff;
}

.breadcrumbs-item:after,
.breadcrumbs-item:before {
    background: white;
    bottom: 0;
    clip-path: polygon(50% 50%, -50% -50%, 0 100%);
    content: "";
    left: 100%;
    position: absolute;
    top: 0;
    transition: background 0.2s linear;
    width: 1em;
    z-index: 1;
}

.breadcrumbs-item:before {
    background: #cbd2d9;
    margin-left: 1px;
}

.breadcrumbs-item:last-child {
    border-right: none;
}

.breadcrumbs-item.active {
    background: #edf1f5;
    color: black;
}

.breadcrumbs-rounded{
    border-radius: 1000px;
}

@media screen and (max-width: 768px){
    .breadcrumbs{
        width: 150px;
    }
}

.card{
    border-radius: var(--border-radius);
    background-color: var(--light-color);
    padding: var(--default-padding-setting);
    border-top: var(--alert-primary-color) 0.1rem solid;);
    border-bottom: var(--alert-primary-color) 0.1rem solid;);
}
.card-title{
    padding-left: 3px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 2.2rem;
}
.card-text{
    padding-left: 3px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 1.5rem;
}
.card-img{
    width: 100%;
    height: 350px;
    border-radius: var(--border-radius);
    object-fit: fill;
}

.collapse{
    transition: 0.2s;
    justify-content: space-between;
    border-radius: 5px;
    display: none;
}
.show{
    display: block;
}

.list-group{
    background-color: var(--light-color);
    border-radius: 5px;
    border: 1px solid var(--alert-primary-color);
}
.list-group-item{
    border-bottom: 1px solid var(--alert-primary-color);
    list-style-type: none;
    color: var(--dark-color);
    padding: var(--default-padding-setting);
    transition: 0.2s;
    cursor: pointer;
    margin: unset;
}
.list-group-item:last-child{
    border-bottom: none;
}
.list-group-item:first-child{
    border-top: none;
}
.list-group-item:hover{
    background-color: var(--alert-secondary-color);
    color: var(--secondary-color);
}

.bg-primary{
    background-color: var(--alert-primary-color);
}
.bg-secondary{
    background-color: var(--alert-secondary-color);
}
.bg-success{
    background-color: var(--alert-success-color);
}
.bg-danger{
    background-color: var(--alert-danger-color);
}
.bg-warning{
    background-color: var(--alert-warning-color);
}
.bg-info{
    background-color: var(--alert-info-color);
}
.bg-light{
    background-color: var(--light-color);
}
.bg-dark{
    background-color: var(--dark-color);
}

.pagination{
    padding: var(--default-padding-setting);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: unset;
    border-radius: 5px;
    background-color: var(--light-color);
    border: 1px solid var(--alert-primary-color);
}
.page-link{
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}
.page-link:hover{
    background-color: var(--alert-secondary-color);
    color: var(--secondary-color);
}
.page-item.active .page-link{
    background-color: var(--alert-primary-color);
    color: var(--secondary-color);
}
.page-item.disabled .page-link{
    background-color: var(--alert-secondary-color);
    color: var(--secondary-color);
    cursor: not-allowed;
}

.loading {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spins 2s linear infinite;
}

@keyframes spins {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.spinner {
    border: 0.5rem solid var(--alert-primary-color);
    border-top: 0.5rem solid var(--alert-secondary-color);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;

    width: 3rem;
    height: 3rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
